# Supabase Authentication
VITE_SUPABASE_URL=https://cqfelbazvvbeiwwydwmn.supabase.co

VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY


# ASP.NET Core Backend API
VITE_API_BASE_URL=http://localhost:5265/api/v1